

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.page-container
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-content
{
    margin-top: 50px;
    flex-grow: 1;
}

.page-content h1
{
    border-bottom: 3px solid black;
    padding-bottom: 3px;
    width: fit-content;
}