
.nav
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-links
{
    display: flex;
    gap: 20px;
}

.nav-links a
{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}